#hotd-container{
  text-align:center;
}
.cityButton{
  margin:.5rem;
}

.badge {
  height:100px;
  display:inline-flex;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 12px;
}

.names{
  font-size: 20px;

}
.rents{
    font-size: 15px;
}
.status{
      font-size: 15px;
}

.badge:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
}


/* Footer Section */
.social-footer {
  padding: 1rem;
  background: #8a8a8a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

